/** card.css **/
:root {
  --cardBorderRadius: 0.5rem;
  --cardHeight: 4rem;
  --cardDateWidth: 5rem;
}

/* is an anchor */
.cardContainer {
  background-color: rgb(250, 250, 250);
  border-radius: var(--cardBorderRadius);
  border: solid 1px rgb(200, 200, 200);
  color: black;
  cursor: pointer;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  gap: 1rem;
  height: var(--cardHeight);
  margin: 0 0 1rem 0;
  overflow: hidden;
  padding: 0.5rem;
  text-decoration: none;
  text-underline-offset: 0.25rem;
  transition-duration: 0.25s;
  transition-property: box-shadow;
  transition-timing-function: ease-in-out;
  width: 100%;
}

.cardContainer:hover {
  background-color: white;
  border: solid 1px rgb(200, 200, 200);
  border-radius: var(--cardBorderRadius);
  box-shadow: 3px 3px 3px rgba(100, 100, 100, 0.5);
}

.cardLogo {
  border-radius: var(--cardBorderRadius);
  height: calc(var(--cardHeight) - 1rem);
}

.cardDetails {
  flex-grow: 1;
}

.cardTitle {
  color: black;
  font-size: 1.1rem;
  margin-top: -0.25rem;
}

.cardShortDescription {
  color: black;
  display: block;
  display: -webkit-box;
  font-family: var(--fontFamilyLight);
  font-size: 0.9rem;
  line-height: 1.1rem;
  margin-bottom: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
 -webkit-box-orient: vertical;
 -webkit-line-clamp: 1; /* Number of lines to show */
}

.cardDate{
  color: rgb(100, 100, 100);
  font-family: var(--fontFamilyLight);
  font-size: 0.75rem;
  min-width: var(--cardDateWidth);
  max-width: var(--cardDateWidth);
  text-align: right;
  width: var(--cardDateWidth);
}
