/** card.css **/
:root {
  --cardBorderRadius: 0.5rem;
  --cardHeight: 3rem;
}

/* is an anchor */
.cardContainer {
  align-items: center;
  background-color: rgb(250, 250, 250);
  border-radius: var(--cardBorderRadius);
  border: solid 1px rgb(200, 200, 200);
  color: black;
  cursor: pointer;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  gap: 1rem;
  height: var(--cardHeight);
  margin: 0 0 1rem 0;
  max-height: var(--cardHeight);
  min-height: var(--cardHeight);
  overflow-y: scroll;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  text-decoration: none;
  text-underline-offset: 0.25rem;
  transition-duration: 0.25s;
  transition-property: box-shadow;
  transition-timing-function: ease-in-out;
  width: 100%;
}

.cardContainer:hover {
  background-color: white;
  border: solid 1px rgb(200, 200, 200);
  border-radius: var(--cardBorderRadius);
  box-shadow: 3px 3px 3px rgba(100, 100, 100, 0.5);
}


.cardImg {
  border-radius: var(--cardBorderRadius);
  height: 6rem;
}

.cardRightContainer {
}

.cardTitle {
  color: black;
  font-size: 1.1rem;
  margin-top: -0.25rem;
}

.cardSubTitle {
  color: rgb(80, 80, 80);
  font-size: 0.85rem;
  margin-bottom: 0.5rem;
}

.cardShortDescription {
  color: black;
  display: block;
  display: -webkit-box;
  font-family: var(--fontFamilyLight);
  font-size: 0.9rem;
  line-height: 1.1rem;
  margin-bottom: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
 -webkit-box-orient: vertical;
 -webkit-line-clamp: 3; /* Number of lines to show */
}

.cardDate{
  color: rgb(100, 100, 100);
  font-family: var(--fontFamilyLight);
  font-size: 0.75rem;
}

.cardButton {
}
