/** 404.css **/
.middle {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.errorImg {
  margin-bottom: 2rem;
}

.errorCode {
  font-size: 5rem;
  margin-top: -1rem;
}

.errorMsg {
  margin-top: -1rem;
}

.titleDate {
  font-size: 0.75rem;
  margin-top: 2rem;
}
