/** index.css **/
:root {
  --fontFamilyBluePrint: frederickaTheGreat;
}

h3 {
  margin: 2rem 0 0.5rem 0;
}

.directoryBox {
  background: white;
  border: var(--border);
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  font-size: 0.8rem;
}

.titleContainer {
  justify-content: flex-start;
  margin-bottom: 1rem;
  padding: 0;
}

.titleLeft {
}

.titleMiddle {
  display: block;
  line-height: 1.5rem;
}

.titleRight {
  text-align: right;
}

.titleImg {
  height: 64px;
  margin-right: 1rem;
}

.welcomeBanner {
  font-family: var(--fontFamilyLight);
  font-size: 1.5rem;
  text-align: center;
}

.underConstruction {
  align-items: center;
  color: rgb(50, 50, 50);
  display: flex;
  flex-direction: column;
  font-family: var(--fontFamilyBluePrint);
  font-size: 2.5rem;
  justify-content: center;
  margin-top: 15rem;
  font-style: italic;
  text-align: center;
  text-shadow: 3px 3px 3px rgba(100, 100, 100, 0.5);
}

.underConstructionImg {
  margin-bottom: 1rem;
  transform: rotate(10deg);
  width: 256px;
}


/* detect narrow */
@media screen and (max-width: 600px) {
  .titleImg {height: auto; width: 64px; }
}
