/** lobsterTwo.css **/

@font-face {
  font-family: 'lobsterTwo';
  font-style: normal;
  font-weight: 400;
  src: url('./LobsterTwo-Regular.ttf');
}

@font-face {
  font-family: 'lobsterTwoBold';
  font-style: normal;
  font-weight: 400;
  src: url('./LobsterTwo-Bold.ttf');
}
